<nav>
    <div class="logo">
        <a href="/"><img src="/img/logo.png" alt="logotipo"></a>
    </div>
    <div class="opcoes">
        <ul>
            <li><a href="#">Opção 1</a></li>
            <li><a href="#">Opção 2</a></li>
            <li><a href="#">Opção 3</a></li>
        </ul>
    </div>
</nav>