<!DOCTYPE html>
<html lang="pt-br">
    <%- include('./partials/head') %>
<body>
    <header>
        <h1>Rota Raiz</h1>
        <!-- O menu da aplicação deve vir aqui -->
    </header>
    
    
    <main>
        <!-- Parte principal da pagina deve vir aqui -->
        
    </main>
    
    <%- include('./partials/footer') %>

    <!-- javascript que roda no front-end da aplicação(pasta public) -->
     <script src="/js/main.js"></script>

</body>
</html>